<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="KeyRepeatTunerAppComponents" Directory="INSTALLFOLDER">

      <Component Guid="*" >
        <File Source="$(ProjectDir)publish\KeyRepeatTuner.exe" />
      </Component>

      <Component Guid="*" >
        <File Source="$(ProjectDir)publish\appsettings.json" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>