<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="AutoStartRegistry" Directory="INSTALLFOLDER">
      <Component Guid="*">
        <RegistryValue
          Root="HKCU"
          Key="Software\Microsoft\Windows\CurrentVersion\Run"
          Name="KeyRepeatTuner"
          Type="string"
          Value="[INSTALLFOLDER]KeyRepeatTuner.exe"
          KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
